#water-impact {
  background-color: #fafafa;
}

#water-cards {
  display: grid;
  /* grid-template-columns: repeat(3, calc(100% / 3)); */
  grid-template-rows: minmax(100vh, 100%);
  background-color: #fafafa;
  background-image: url('../background images/impact-large.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  /* margin-top: 1%; */
  padding-bottom: 30%;
}

.impact-card {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.impact-hundred {
  margin-top: 20px;
}

.impact-private {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.h2-impact {
  display: block;
  font-size: 35px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 60px 20px 0;
  margin: 0 159px;
  font-family: Arial, Helvetica, sans-serif;
}

#hundred {
  position: relative;
  bottom: 35rem;
}

.impactcard-img {
  width: 200px;
  height: 200px;
  margin: 5px auto;
}

/* .impact-card {
  border: solid 2px lightgrey;
  width: 150px;
  border-radius: 4px;
} */

.impact-list {
  list-style: none;
  margin: 2em;
  display: grid;
  grid-gap: -1px;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 350px)); */
  grid-template-columns: repeat(3, calc(80% / 3));
  grid-template-rows: minmax(30vh, 90%);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 10% 0 10%;
  padding-top: 40px;
}

.impact-list li {
  border: 2px solid lightgray;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.impact-list .cta {
  margin-top: auto;

  padding: 10px;
  text-align: center;
}

.impact-list a {
  text-decoration: none;
  color: blue;
}
.impact-list .impact-body {
  padding: 10px;
  font-size: 16px;
}

.impactcard-heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

.card-slider {
  /* margin: auto; */
  /* border: 10px solid red; */
  max-width: 1440px;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 95%;
  left: 10%;
}

.impact-active {
  border: gray solid 3px;
  transform: scale(1.1); /* 110% zoom*/
  z-index: 20;
  opacity: 1;
}

.impact-inactive {
  /* border: gray solid 3px; */
  opacity: 0.35;
  background-color: #fafafa;
}

/* Swiper style */

.swiper-container {
  width: 600px;
  height: 300px;
}
