#water-impact {
  display: grid;
  /* grid-template-rows: minmax(40vh 70vh); */
  /* max-height: 1010px; */
}

#water-cards {
  display: grid;
  /* grid-template-columns: repeat(3, calc(100% / 3)); */
  grid-template-rows: minmax(40vh, 100vh);
  background-color: #fafafa;
  background-image: url('../background images/impact-large.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 1%; */
  /* padding-bottom: 30%; */
  height: 100%;
  padding-bottom: 30%;
}

/* 100% impact section */
.impact-hundred {
  margin-top: 20px;
}

.impact-private {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

#hundred {
  position: relative;
  bottom: 35rem;
}
/* 100% impact section */

.h2-impact {
  display: block;
  font-size: 35px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 60px 20px 0;
  margin: 0 159px;
  font-family: Arial, Helvetica, sans-serif;
}

.impactcard-img {
  width: 200px;
  height: 200px;
  margin: 5px auto;
}

/* .impact-card {
  border: solid 2px lightgrey;
  width: 150px;
  border-radius: 4px;
} */

.impact-list .cta {
  margin-top: auto;

  padding: 10px;
  text-align: center;
}

.slide a {
  text-decoration: none;
  color: blue;
}
.slide .impact-body {
  padding: 10px;
  font-size: 16px;
}

.impactcard-heading {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

/* Paskwa Tue June 25 */

.slider-viewer {
  position: relative;
  z-index: -1;
  overflow: scroll;
  height: 400px;
}

.slide-group {
  width: 80%;
  margin: 0 auto;
  height: 70%;
  position: relative;
  /* border: solid 2px yellow; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20%;
}

.slide {
  width: 300px;
  height: auto;
  position: absolute;
  border: 2px solid #f1f1f1;
  background: #fff;
  padding: 20px 10px;
  border-radius: 4px;
  transition: border-color 0.15s linear;
  align-items: center;
  opacity: 0.55;
  text-align: center;
  font-size: 16px;
  z-index: 2;
  top: 100%;
}

#slide-1 {
  left: 25%;
}

#slide-2 {
  left: 45%;
}

#slide-3 {
  left: 65%;
}

.impactcard-img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.impactcard-heading {
  text-transform: uppercase;
  font-weight: 700;
}

.active-card {
  opacity: 1;
  border: 2px solid lightgray;
  transition: border-color 0.15s linear;
  z-index: 3;
  transform: scale(1.1);
}

.shrink-card {
  transform: scale(0.9);
  z-index: 1;
  opacity: 0.45;
}

/* End of Paskwa Tue June 25 */
