/* Paskwa Tue Jun 11 */
#hero-section h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  line-height: 1.1em;
}

#hero-section h1 {
  font-size: 28px;
}

#hero-section p {
  font-size: 19px;
  background-color: none;
}
/* Paskwa Tue June 11 */

#hero-section {
  background-color: transparent;
}

#hero-article {
  background-color: transparent;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Paskwa Tue Jun 11 */

/* Updated Thu Jul 4*/

.nav-container {
  max-height: 150px;
}

nav {
  /* max-width: 1720px; */
  width: 100%;
  margin: 0 auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  /* font-family: Arial, Helvetica, sans-serif;
  font-weight: bold; */
}

#logo img {
  width: 138px;
}

.menu {
  display: flex;
  align-items: center;
}

.left-menu {
  justify-content: center;
}

#right-menu {
  justify-content: right;
}

#hamburger {
  color: white;
  font-size: 3rem;
  justify-self: end;
  display: none;
}

#navhero-wrapper {
  background-image: url('../background images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.menu a {
  /* padding: 20px 0; */
  margin-left: 15px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.btn {
  display: inline-block;
  align-content: center;
  margin: 0;
  height: 48px;
  line-height: 48px;
  letter-spacing: 0.1em;
  font-size: 15px;
  font-weight: 500;
}

#right-menu button {
  border: solid 1px white;
  border-radius: 4px;
  background-color: transparent;
  letter-spacing: 1px;
  font-size: 12px;
  margin-left: 5px;
  padding: 5px 7px;
  /* display: inline-block; */
  align-content: center;
  /* margin: 0; */
  height: 38px;
  letter-spacing: 0.1em;
}

#spring-img {
  background-image: url('../logos/spring-white.svg');
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 55px;
  padding-top: 0;
  margin: 20px auto 20px auto;
  /* margin: 0 auto; */
}

#spring-btn {
  background-color: #00ac77;
}

/* #water-impact {
  background-color: #00ac77;
  background-origin: padding-box;
  border: solid 10px red;
} */

/* Paskwa Tue Jun 11 */

/* MEDIA QUERIES  /* Paskwa Tue Jun 11 */
@media screen and (max-width: 1024px) {
  #navhero-wrapper {
    background-color: aliceblue;
    background-image: url('../background images/hero-mobile.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }

  #hamburger {
    display: block;
  }

  .hero {
    display: grid;
    grid-template-columns: 1fr;
  }
  #hero-article {
    /*example color*/
    /* background-color: rgb(92, 105, 101); */
    color: black;
    text-align: center;
    width: 100%;
    padding: 0%;
  }

  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0;
  }
  .left-menu {
    display: none;
  }

  #right-menu {
    display: flex;
  }

  #donate {
    align-self: flex-end;
  }

  #fundraise {
    display: none;
  }

  #sign-in {
    display: none;
  }
  #spring-img {
    background-image: url('../logos/spring-black.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    width: 200px;
    height: 85px;
    /* margin-top: 20px; */
    margin: 20px auto 20px auto;
  }

  #spring-btn {
    margin-bottom: 2%;
  }

  .hero {
    display: flex;
  }

  #hero-section {
    font-size: 70%;
  }
}

/* ~~~~~~~~~~~~~Paskwa Fri June 21~~~~~~~~~~ */

#promo-section {
  /* border: #00ac77 solid 10px; */
  /* padding-left: 10vw;
  padding-right: 10vw; */
  padding: 0;
  max-width: 920px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  background-color: transparent;
  display: grid;
  grid-template-columns: 1vw 4fr 2vw;
}

#promo-article {
  /* border: solid 5px red; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  /* grid-column-start: 1; */
  background-color: #fff;
  padding: 0;
  text-align: left;
}

#promo-img {
  width: 270px;
  height: 260px;
}

#promo-btn {
  background-color: #ffca0a;
}

#promo-h3 {
  font-size: 19px;
}

#promo-p {
  font-size: 16px;
}

/* +++++++++++++end of Paskwa Fri June 21 */

/* Paskwa added @Elisheba's code */
/* DROPDOWN MENU*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.75);
  width: 250px;
  z-index: 1;
  text-align: left;
  margin-top: 10px;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-triangle {
  -webkit-clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
  clip-path: polygon(0% 87%, 50% 0%, 50% 0%, 100% 87%);
  background-color: black;
  width: 15px;
  height: 12px;
  top: -10px;
  left: 30px;
  position: absolute;
}
.dropdown-content a:hover {
  background-color: rgb(0, 0, 0);
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* End of drop-down menu */
